@import "variables.module";
$margin_spacing: 0rem;
.card_container {
  .card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: var(--neutral-whiter);
    border-radius: 1rem;
    padding: 3rem;

    .card_title {
      word-spacing: 3px;
      text-align: left;
      margin: $margin_spacing;
    }

    .card_date {
      margin: $margin_spacing;
      word-spacing: 3px;
      text-align: right;
      color: var(--grey);
    }
    .card_link {
      margin: $margin_spacing;
      word-spacing: 3px;
      text-decoration: none;
    }

    .card_body {
      flex: 1;
      padding: 2rem;
    }

    .bio {
      white-space: pre-line;
    }

    .card_p {
      color: var(--par-col);
      font-size: $font-size;
      margin-top: 1rem;
      font-weight: $font-regular;
    }
    .main_data {
      margin: 0px;
    }

    .main_top {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      row-gap: 2px;
    }
    .image_cover {
      width: 117px;
      height: 117px;
      border-radius: 50%;
      margin-right: 2rem;
      object-fit: cover;
      object-position: center;
    }

    .image_mobile{
      display: none;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 1rem;
      object-fit: cover;
      object-position: center;

    }

    .list_main {
      display: flex;
      justify-content: space-around;
      background-color: var(--medium-grey);
      align-items: flex-start;
      border-radius: 10px;
      margin-top: 1rem;
      margin-bottom: 2rem;
      padding: 1rem;
    }

    .links_grid {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(2, auto);
      row-gap: 18px;

      .user_link {
        margin-left: 20px;
        margin-right: 20px;
        color: var(--darker-blue);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      span {
        margin-left: 20px;
        margin-right: 20px;
        color: var(--darker-blue);
      }
    }

    @media (max-width: 650px) {
      .links_grid {
        grid-template-columns: 1fr;
      }

      .image_cover {
        display: none;
      }
      .image_mobile{
        display: block;
        grid-area: 1 / 1 / 4 / 2;
      }
      .main_top{
        grid-template-columns: repeat(2,auto)
      }
      .card_date{
        text-align: left;
      }
    }
  }

  @media (max-width: 650px) {
    .card {
      flex-direction: column;
    }
  }
}
