@import "variables.module";

.navbar {
  .title {
    font-weight: $font-bold;
    color: black;
    text-align: left;
  }
  .theme_change {
    font-weight: $font-regular;
    color: black;
  }
}

.wrap_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
