@import "variables.module";

.navbar {
  .title {
    font-weight: $font-bold;
    color: black;
    text-align: left;
  }
  .theme_change {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey);

    .title_theme {
      font-weight: $font-bold;
      text-transform: uppercase;

      letter-spacing: 2.5px;
    }
    svg {
      margin-left: 18px;
    }

    &:hover {
      color: black;
      path{
        fill: black;
      }
    }
  }
}

.wrap_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
