@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
$font-main: "Outfit", sans-serif;
$font-regular: 400;
$font-bold: 700;
$font-size: 15px;
$primary-color: #0079ff;
$darker-blue: #4b6a9b;
$very-dark-blue: #2b3442;
$neutral-whiter: #fefefe;
$medium-grey: #f6f8ff;
$grey: #697c9a;

$mobile-width: 375px;
$desktop-width: 1440px;


